@import url(http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic);
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-align: center;
    background-color: #eeeeee;
}

form {
    margin: 0;
}

div {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.26);
    margin: 0;
}


input {
    font-family: inherit;
    font-size: 15px;
}

.navBar {
    width: 100%;
    height: 60px;
    color: #fff;
    background-color: #2196f3;
    z-index: 4;
    position: fixed;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.26);
}

.hamburger {
    background: url(../images/hamb.png);
    height: 48px;
    width: 48px;
    text-indent: -9999px;
    display: block;
    border: 0;
    top: 6px;
    left: 14px;
    position: fixed;
    cursor: pointer;
    text-shadow: none;
    z-index: 5;
}

.headerText {
    /*    padding-left: 0;*/
    
    cursor: default;
    left: 72px;
    position: fixed;
    z-index: 5;
    /*    box-sizing: border-box;*/
    
    font-size: 24px;
    line-height: 60px;
    box-shadow: none;
    text-align: left;
    width: 100%;
}

.personal,
.locale {
    background: url(../images/person.png);
    height: 48px;
    width: 48px;
    text-indent: -9999px;
    display: block;
    border: 0;
    top: 6px;
    right: 14px;
    position: fixed;
    cursor: pointer;
    text-shadow: none;
    z-index: 5;
}

.locale {
    background: url(../images/usa4.png);
    right: 62px;
    ;
}

.rus {
    background: url(../images/rus4.png);
}

.usa {
    background: url(../images/usa4.png);
}

.selectors {
    height: 26px;
    background-color: #90caf9;
    width: 100%;
    position: fixed;
    top: 60px;
    z-index: 1;
    display: table;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.26)
}

.selector {
    display: table-cell;
    height: inherit;
    width: 33%;
    box-shadow: 0 0 .01px rgba(0, 0, 0, 0.26);
    z-index: 2;
}

.selWrapper {
    display: table;
    width: 100%;
    box-shadow: none;
}

.selText {
    font-family: inherit;
    display: table-cell;
    padding: 5px 20px;
    width: 50px;
    color: white;
    box-shadow: inherit;
    cursor: default;
    white-space: nowrap;
}

.contSel {
    display: table-cell;
    box-shadow: inherit;
}

.select {
    min-width: 150px;
    cursor: pointer;
    -webkit-appearance: button;
    background-color: #90CAF9;
    /*/!*    background-image: url(images/select-arrow.png);*!/*/
    /*background-position: 97% center;*/
    /*background-repeat: no-repeat;*/
    
    border: 0;
    color: #555;
    font-family: inherit;
    font-size: inherit;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.datePicker {
    background-color: #90CAF9;
    border: 0;
    color: #555;
    font-family: inherit;
    font-size: inherit;
}

input[type=date]::-webkit-inner-spin-button {
    display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
    font-size: 18px;
}

input[type=date]::-webkit-calendar-picker-indicator:hover {
    background-color: rgba(0, 0, 0, 0.00001);
    color: #e6e6e6;
    cursor: pointer;
}

.mainBlock,
.crewsBlock,
.accsBlock {
    background-color: #fafafa;
    margin: 0 40px 10px 40px;
    position: relative;
    top: 105px;
    z-index: 0;
}

.table {
    display: table;
    box-shadow: none;
    /*    min-height: 70px;*/
    
    z-index: 0;
    width: 100%;
}

.row,
.header {
    box-shadow: none;
    display: table-row;
    height: 20px;
    width: 100%;
    z-index: 0;
}

.row {
    background-color: transparent;
}

.row .cell {
    cursor: default;
}

select {
    cursor: pointer;
    -webkit-appearance: button;
}

.header {
    background-color: #ffab40;
}

.header {
    height: 30px;
}

.cell {
    display: table-cell;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 30px;
    font-size: 13px;
}

.cell * {
    /*.add-flight {*/
    
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    /*}*/
}

.code {
    width: 4.413%;
}

.date {
    width: 11.03%;
}

.airport {
    width: 26.79%;
}

.plane {
    width: 10.56%;
}

.crew {
    width: 9.14%;
}

.text {
    text-align: left;
}

.crewNumber {
    text-align: left;
    width: 95px;
}

.noData {
    color: #c3c3c3;
    cursor: default;
    height: 24px;
    line-height: 24px;
}

#num {
    min-width: 10px;
    max-width: 20px;
}

.shadowMask {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 2;
}

.leftBar {
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    z-index: 6;
    visibility: hidden;
}

.active-leftBar {
    -webkit-animation: openLeftBar .2s linear;
}

@-webkit-keyframes openLeftBar {
    from {
        -webkit-transform: translateX(-200px);
    }
    to {
        -webkit-transform: translateX(0);
    }
}

.barBlock {
    text-align: left;
    color: rgb(51, 51, 51);
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    cursor: pointer;
    position: relative;
    padding: 13px 24px 13px;
    z-index: 7;
    box-shadow: none;
    display: block;
    text-decoration: none;
}

#logo {
    height: 60px;
    border-bottom: 1px solid #ffab40;
    box-sizing: border-box;
    color: #ffd180;
    cursor: default;
    font-size: 20px;
    line-height: 40px;
    padding: 10px 24px 10px;
}

#selected {
    color: #ff9800;
}

.signIn {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.26);
    background: #fff;
    position: fixed;
    right: 0;
    top: 60px;
    width: 330px;
    /*    height: 205px;*/
    
    height: 145px;
    z-index: 3;
    visibility: hidden;
    /*    display: table;*/
}

.active-signIn {
    -webkit-animation: openSignIn .2s linear;
}

@-webkit-keyframes openSignIn {
    from {
        -webkit-transform: translateY(-145px);
    }
    to {
        -webkit-transform: translateX(0);
    }
}

.authorized {
    height: 90px;
}

.elSign {
    box-shadow: none;
    margin: 10px 10px;
    /*    display: table-row;*/
}

.input {
    min-width: 100px;
    background-color: #fff;
    border: 0;
    border-bottom-width: 1px;
    border-bottom-color: #e0e0e0;
    border-bottom-style: solid;
    box-sizing: border-box;
    color: #555;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    padding: 5px 5px 5px 25px;
    /*    text-overflow: ellipsis;*/
    
    white-space: nowrap;
    width: 290px;
}

.input#log {
    background: url(../images/login.png) no-repeat left;
}

.input#pass {
    background: url(../images/pass.png) no-repeat left;
}

.subm,
.register,
.submOut {
    height: 40px;
    width: 140px;
    color: #fff;
    cursor: pointer;
    background-color: #ff9800;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    padding: 5px;
    position: relative;
    border-radius: 2px;
}

.register {
    background: #2196f3;
}

.submOut {
    width: 290px;
}

.manBtn {
    width: 20px;
    height: 20px;
    background: #ef6c00;
    border-radius: 100%;
    border: none;
    color: #FFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    outline: none;
    cursor: pointer;
    line-height: 0;
}

.optional {
    display: none;
    padding: 0;
    box-shadow: none;
}

.registerBlock {
    box-shadow: none;
    background-color: #fafafa;
    height: 150px;
    width: 550px;
    margin: 0 auto;
    /*    margin: 0 400px 10px 400px;*/
    
    position: relative;
    top: 105px;
    z-index: 0;
    padding: 8px 8px 1px 8px;
}

.inpWrapper {
    display: block;
    margin-bottom: 8px;
    border: 0;
    box-shadow: none;
}

.inpWrapper input {
    border: 0;
    background: rgba(0, 0, 0, 0.001);
    font-family: inherit;
    font-size: 16px;
    font-weight: 300;
    border-radius: 2px;
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #e5e5e5;
    display: inline-block;
    /*
    width: 548px;
    height: 40px;
*/
}

.login,
.password,
.name {
    box-shadow: none;
    display: inline-block;
    width: 270px;
}

.password {
    margin-left: 5px;
}

.name {
    width: 100%;
}

.valid {
    border: 1px solid #0f0;
}

.invalid {
    border: 1px solid #e73d3d;
}

.crewsBlock {
    background: rgba(0, 0, 0, 0.001);
    box-shadow: none;
    margin: 0 auto;
    width: 400px;
    /*    margin: 0 500px 20px 500px;*/
}

.crewWrap {
    /*    float: left;*/
    
    background: #fff;
    width: 100%;
    margin-bottom: 20px;
}

.crewInfo {
    /*    box-shadow: none;*/
    
    text-align: left;
    padding-left: 20px;
    color: #fff;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    background: #2196f3;
}

.crewOpt {
    margin-left: 250px;
}

.crewMan,
.crewEdit {
    width: 28px;
    height: 28px;
    background: transparent;
    padding: 0;
    box-shadow: none;
    position: relative;
    top: 6px;
    left: 66px;
}

.crewMan {
    background: url("../images/gear24.png") 2px no-repeat;
}

.crewEdit {
    width: 22px;
    height: 22px;
    background: #fff;
    color: #2196f3;
    left: 18px;
    top: -1px;
}

#add-crew .crewInfo {
    padding: 0;
    background: #fff;
}

#edit-crew .crewInfo {
    padding: 0;
    background: #fff;
}

.crew-numb {
    /*    margin-top: 10px;*/
    
    height: 100%;
    padding: 20px;
    width: 335px;
    border: 0;
}

.crewAddBtn {
    width: 26px;
    height: 26px;
    background: #2196f3;
    border-radius: 100%;
    border: none;
    color: #FFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
    outline: none;
    cursor: pointer;
    line-height: 0;
}

.add-sel {
    display: block;
    margin: 2px;
    position: relative;
    top: 1px;
    width: 100%;
    /*    width: 300px;*/
    
    border: 0;
}
/*  accounts.jsp  */

.accsBlock {
    background: rgba(0, 0, 0, 0.001);
    box-shadow: none;
    margin: 0 auto;
    width: 600px;
}
.text-wrapper {
    display: inline-block;
    width: 46px;
    box-shadow: none;
}