.formBlock {
    padding: 5px;
}
form {
    margin: 0;
    max-width: 85px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    background: RGBA(255, 255, 255, 1);
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .45);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .45);
}

.button {
    height: 50px;
    width: 100%;
    border-radius: 3px;
    border: rgba(0, 0, 0, .3) 0 solid;
    box-sizing: border-box;
    padding: 10px;
    background: #90c843;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16pt;
    transition: background .4s;
    cursor: pointer;
}

/* Изменение фона кнопки при наведении */
.button:hover {
    background: #80b438;
}