@import url(http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic);
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-align: center;
    background-color: #eeeeee;
}

form {
    margin: 0;
}

div {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.26);
    margin: 0;
}

input {
    font-family: inherit;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    height: 100%;
}

a span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.header,
.footer {
    width: 100%;
    height: 60px;
    color: #fff;
    background-color: #4caf50;
    z-index: 4;
    position: fixed;
    top: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

.footer {
    height: 40px;
    bottom: 0;
    top: auto;
}


/*
.header-text {
    left: 25px;
    position: fixed;
    z-index: 5;
    font-size: 24px;
    line-height: 60px;
    box-shadow: none;
    text-align: left;
        width: 100%;
}
*/

.header-cell {
    padding: 0 0 0 20px;
    z-index: 5;
    font-size: 24px;
    line-height: 60px;
    box-shadow: none;
    text-align: left;
    position: relative;
}

.header-cell:hover {
    cursor: pointer;
    background-color: #346f37;
}

.authors-link {
    left: 170px;
}

.tags-link {
    left: 320px;
}

.footer-text {
    z-index: 5;
    line-height: 40px;
    box-shadow: none;
    width: 100%;
}

.localeDiv,
.personal {
    background: url(../images/off.png);
    height: 48px;
    width: 48px;
    text-indent: -9999px;
    display: block;
    border: 0;
    top: 6px;
    right: 14px;
    /*    position: fixed;*/
    cursor: pointer;
    text-shadow: none;
    z-index: 5;
}

.localeDiv {
    background: url(../images/usa.png);
    margin-right: 10px;
    margin-left: auto;
    /*    right: 62px;*/
}

.rus {
    background: url(../images/rus.png);
}

.usa {
    background: url(../images/usa.png);
}

.shadow-mask {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 2;
}

.news-block {
    /*    background-color: #fafafa;*/
    box-shadow: none;
    margin: auto auto 60px;
    max-width: 800px;
    position: relative;
    top: 85px;
    z-index: 0;
}

.news-header {
    background-color: transparent;
    /*    height: 26px;*/
    padding: 5px 0;
    width: 100%;
    /*    position: fixed;*/
    /*    top: 60px;*/
    z-index: 1;
    border-bottom: 2px solid rgba(80, 76, 175, 0.7);
}

.back-link,
.nav-left,
.nav-right {
    background: url(../images/back-grey.png);
    height: 48px;
    width: 48px;
    text-indent: -9999px;
    display: block;
    border: 0;
    /*    top: 6px;*/
    /*    right: 14px;*/
    /*    position: fixed;*/
    cursor: pointer;
    text-shadow: none;
    z-index: 2;
}

.nav-left,
.nav-right {
    height: 32px;
    width: 32px;
}

.nav-left {
    background: url(../images/nav-left.png);
    /*    background: url(images/left-grey.svg);*/
    float: left;
}

.nav-right {
    background: url(../images/nav-right.png);
    float: right;
}

.news-title,
.news-author,
.news-date,
.news-tags,
.news-comments {
    background-color: transparent;
    height: inherit;
    z-index: 2;
}

.news-title {
    width: 65%;
}

.news-author,
.news-date {
    color: #808080;
    font-size: 15px;
    width: 15%;
}

.news-author {
    width: 20%;
    min-width: 120px;
}

.news-date {
    min-width: 80px;
}

.news-message {
    background-color: transparent;
    box-shadow: none;
    padding: 10px 20px;
    text-align: left;
}

.nav-block-left,
.nav-block-right {
    height: 30px;
    width: 50%;
    background-color: #fafafa;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 30px;
    clear: both;
    cursor: pointer;
}

.nav-block-left {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-block-right {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.comments-block {
    background-color: #fafafa;
    margin-bottom: 60px;
    text-align: left;
    padding: 5px 30px;
    box-shadow: none;
}

.create-comment-block {
    box-shadow: none;
    float: none;
    margin-bottom: 5px;
}

textarea {
    font-family: inherit;
    font-size: 14px;
    resize: none;
    width: 80%;
}

.comment-textarea {
    /*    font-size: 14px;*/
    height: 50px;
    /*    resize: none;*/
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
    border-bottom: 1px solid #504caf;
}

input[type=submit],
input[type=reset] {
    border: none;
    cursor: pointer;
    /*    display: block;*/
    background-color: #504caf;
    color: white;
    width: 60px;
    height: 25px;
}

input[type=reset] {
    background-color: #af504c;
}

.comment {
    box-shadow: none;
    width: 80%;
    margin: 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.comment-text {
    font-size: 14px;
    box-shadow: none;
}

.comment-date {
    font-size: 11px;
    color: #808080;
    box-shadow: none;
}


/* News List */

.news-filters {
    position: relative;
    top: 60px;
    width: 100%;
    background-color: #fafafa;
}

select {
    cursor: pointer;
    position: relative;
    -webkit-appearance: button;
    font-family: inherit;
    font-size: inherit;
    overflow: hidden;
    border: 0;
    padding: 0 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    width: 100%;
}


/*.author-selector {*/


/*cursor: pointer;*/


/*position: relative;*/


/*-webkit-appearance: button;*/


/*font-family: inherit;*/


/*font-size: inherit;*/


/*overflow: hidden;*/


/*border: 0;*/


/*padding: 0 5px;*/


/*/!*    padding: 5px 10px;*!/*/


/*text-overflow: ellipsis;*/


/*white-space: nowrap;*/


/*height: 100%;*/


/*width: 100%;*/


/*}*/


/*tag dropdown*/

.multiselect,
.select-box {
    box-shadow: none;
    width: 100px;
    height: 50px;
}

.multiselect {
    position: absolute;
}

.select-box select option {
    display: none;
}

.overSelect {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.tag-list {
    z-index: 3;
    position: absolute;
    background-color: #fafafa;
    box-shadow: none;
    text-align: left;
    padding: 5px 10px;
    display: none;
    border: 1px #dadada solid;
}

#checkboxes label {
    font-size: 12px;
    display: block;
}


/*tag dropdown*/

.tag-box {
    text-align: left;
    box-shadow: none;
}

.short-news {
    background-color: #fafafa;
    margin: 10px 0;
}

.news-footer-wrapper {
    width: 100%;
}

.news-footer {
    color: #808080;
    font-size: 14px;
    text-align: left;
    padding: 0 0 5px 30px;
    clear: both;
    z-index: 1;
    /*    border-bottom: 2px solid rgba(80, 76, 175, 0.7);*/
}

.news-tags,
.news-comments,
.news-link {
    box-shadow: none;
}

.news-comments {
    padding-right: 10px;
    text-align: right;
    max-width: 100px;
}

.news-tags {
    padding-left: 30px;
}

.news-link {
    display: table-cell;
    margin: 0;
    padding: 0;
    width: 96px;
}

.view-link {
    margin-left: auto;
    text-align: center;
    text-decoration: none;
    background-color: #504caf;
    color: white;
    height: 24px;
    width: 96px;
    display: block;
    border: 0;
    cursor: pointer;
    text-shadow: none;
    z-index: 2;
}


/*Admin news edit*/

.view-link,
.news-comments,
.news-tags {
    padding-top: 5px;
}

.table,
.row,
.cell {
    box-shadow: none;
}

.table {
    display: table;
    width: 100%;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}

.news-message-wrapper {
    width: 100%;
    height: 100%;
}

.news-info {
    text-align: center;
    vertical-align: middle;
    width: 100px;
}

.short-news-textarea,
.full-news-textarea {
    width: 100%;
    height: 100%;
}

.title-edit {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0 5px;
}

.del-block {
    width: 20px;
}

.man-btn {
    /*    width: 30px;*/
    width: 20px;
    height: 20px;
    background: #ef6c00;
    border-radius: 100%;
    border: none;
    color: #FFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    outline: none;
    cursor: pointer;
    line-height: 0;
}

.pagination-block {
    padding: 5px;
    position: relative;
    top: 60px;
    box-shadow: none;
    width: auto;
    margin: auto;
}

.pagination-link {
    text-decoration: none;
    color: white;
    background-color: #4b80af;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    margin: 2px;
}

.right-fixed {
    position: fixed;
    right: 20px;
    top: 50%;
    z-index: 4;
}

.delete-news-block {
    width: 150px;
    height: 40px;
    background-color: #d7d7d7;
    line-height: 40px;
    color: #fff;
    cursor: default;
}

.delete-news-list {
    background-color: #fafafa;
    display: none;
    box-shadow: none;
    text-align: left;
    padding: 10px 0;
}

.link-button {
    text-decoration: none;
    text-indent: -9999px;
    display: block;
    border: 0;
}


/*Authors*/

.authors-block {
    background-color: #fafafa;
    box-shadow: none;
    margin: auto auto 60px;
    max-width: 400px;
    position: relative;
    top: 85px;
    z-index: 0;
}

.optional {
    /*    display: inline-block;*/
    display: none;
    padding: 0;
    box-shadow: none;
}

.author-text,
.author-number,
.author-status {
    border: 1px rgba(0, 0, 0, 0.1) solid;
}

.author-text {
    height: 30px;
    line-height: 30px;
    text-align: right;
    padding: 0 5px;
}

.author-number {
    width: 30px;
}

.author-status {
    text-align: left;
    padding: 0 5px;
    width: 140px;
}

.popup {
    padding: 10px;
    font: 14px 'Lato', 'Segoe UI', Helvetica, sans-serif;
    border: 1px solid #258cd1;
    border-radius: 5px;
    background: #3498db;
    height: 20px;
    /*width: 800px;*/
    text-indent: 20px;
    line-height: 20px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    position: absolute;
    margin-top: 5px;
}

.popup:hover {
    background: #5faee3;
    border: 1px solid #3498db;
}

.popup:before {
    content: '';
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: #f1c40f;
    position: absolute;
    left: 50%;
    top: -11px;
}

.popup:after {
    font: 10px 'Lato', 'Segoe UI', Helvetica, sans-serif;
    line-height: 20px;
    content: '(Click to close)';
    float: right;
}

.popup-warning {
    padding: 10px 10px 10px 0;
    font: 14px 'Lato', 'Segoe UI', Helvetica, sans-serif;
    border: 1px solid #f1c40f;
    background: #f1c40f;
}

.popup-warning:hover {
    background: #f4d03f;
    border: 1px solid #f1c40f;
}


/*login.jsp*/


/* Container */

.container,
.profile--open,
.field,
.profile__fields,
.profile__footer {
    box-shadow: none;
}

.container {
    position: absolute;
    width: 24em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: intro .7s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}


/* Profile Card */

.profile__form {
    width: 350px;
    margin: 0 auto;
    position: relative;
    background: white;
    height: auto;
    padding: 3em;
    border-radius: .25em;
    /*    padding-top: 12em;*/
    -webkit-filter: drop-shadow(0 0 2em rgba(0, 0, 0, 0.2));
    /*    transform: translateY(-6em);*/
    transition: opacity .4s ease-in-out, height .4s ease-in-out, transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.profile__fields {
    transition: opacity .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.profile__footer {
    padding-top: 1em;
}


/* Form */

.field {
    position: relative;
    margin-bottom: 2em;
}

.label {
    position: absolute;
    height: 2rem;
    line-height: 2rem;
    bottom: 0;
    color: #999;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.input {
    width: 100%;
    font-size: 100%;
    border: 0;
    padding: 0;
    background-color: transparent;
    height: 2rem;
    line-height: 2rem;
    border-bottom: 1px solid #eee;
    color: #777;
    transition: all .2s ease-in;
}

.input:focus {
    outline: 0;
    border-color: #ccc;
}


/* Using required and a faux pattern to see if input has text from http://stackoverflow.com/questions/16952526/detect-if-an-input-has-text-in-it-using-css */

.input:focus + .label,
input:valid + .label {
    transform: translateY(-100%);
    font-size: 0.75rem;
    color: #ccc;
}


/* Button */

.btn {
    border: 0;
    font-size: 0.75rem;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1.5rem;
    color: white;
    background: #8E49E8;
    text-transform: uppercase;
    border-radius: .25rem;
    letter-spacing: .2em;
    transition: background .2s;
}

.btn:focus {
    outline: 0;
}

.btn:hover,
.btn:focus {
    background: #A678E2;
}


/*404,403*/

.message-wrapper,
.message-wrapper div,
.error-code {
    position: relative;
    box-shadow: none;
    color: #ffffff;
}

.message-wrapper a {
    color: #f1c40f;
}

.error-code {
    font-size: 12em;
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.26);
}

.bg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.ibg-bg {
    position: absolute;
    background: url("../images/404.png") 50% 50% / cover no-repeat;
}